body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}



nav{
    background-image: linear-gradient(45deg, lightsalmon, orange);

}
nav ul{
    padding: 0%;
    margin: 0%; 
}
label.Logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 25px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}



h1{
    color: black;
}

.WebDesnDev{
    color: orange;
}

#HeaderImg{
   
}

h3{
    color: black;
}


p{
    color: black;
}


section{
    height: 550px;
    padding-bottom: 150px;
}


.TI50{
    width: 45%;
    float: left;
    margin-left: 50px;
    padding-top: 25px;
}


.TI50 img{
    height: 50%;
    width: 45%;
}


.background1{
    background-image: url(GIF/Bird.gif);                          
    background-repeat: no-repeat;
    background-position: right;
    background-size: 550px;
    /*border: 5px solid red;*/
    /*background-repeat: no-repeat;*/
}
.dream-area{
    background-image: url(GIF/Bird3.gif);       
    background-repeat: no-repeat;                 
}

.experience-area{
    background-color: ;
    display: flex;
                                                          /*background Image Need*/
}

.Hire{
    text-decoration: none;
    color: white;
    background-color: orange;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.Download-CV{
    text-decoration: none;
    color: white;
    background-color: orange;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.EA{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 75%;
    padding-left: 20px;
}

#Full-STACK{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#New-Born{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: black;
}