body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


h1{
    color: black;
}

.WebDesnDev{
    color: orange;
}

#HeaderImg{
   
}

h3{
    color: black;
}


p{
    color: black;
}


section{
    height: 450px;
    /*padding-bottom: 150px;*/
}


.TI50{
    width: 45%;
    float: left;
    margin-left: 50px;
    padding-top: 25px;
}


.TI50 img{
    height: 50%;
    width: 45%;
}


.background1{
    /*background-image: url(Image/bg-heshajjad.png);*/                          /*background Image Need*/
    /*border: 5px solid red;*/
    /*background-repeat: no-repeat;*/
}
.dream-area{
    background-color: ;                                                         /*background Image Need*/
}

.experience-area{
    background-color: ;                                                         /*background Image Need*/
}

.Hire{
    text-decoration: none;
    color: white;
    background-color: orange;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.Download-CV{
    text-decoration: none;
    color: white;
    background-color: orange;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.EA{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 75%;
    padding-left: 20px;
}

#Full-STACK{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#New-Born{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: black;
}